@model Emlaksite.Models.Ilan

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Açıklama,"Açıklama", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.Açıklama, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Açıklama, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Fiyat,"Fiyat", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.Fiyat, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Fiyat, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.OdaSayisi,"Oda Sayısı", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.OdaSayisi, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.OdaSayisi, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BanyoSayisi,"Banyo Sayısı", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.BanyoSayisi, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BanyoSayisi, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Kredi,"Kredi", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            <div class="checkbox">
                @Html.EditorFor(model => model.Kredi)
                @Html.ValidationMessageFor(model => model.Kredi, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Alan,"Alan", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.Alan, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Alan, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Kat,"Kat" ,htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.Kat, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Kat, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Telefon,"Telefon", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.Telefon, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Telefon, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Adres,"Adres", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.Adres, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Adres, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.UserName,"Kullancı Adı", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SehirID,"Şehir", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @if (ViewBag.sehirlist != null)
            {
                @Html.DropDownListFor(model => model.SehirID, ViewBag.sehirlist as SelectList, "Şehir Seç", new { @class = "form-control" })
            }
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SemtID,"Semt", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">           
            @Html.DropDownListFor(model => model.SemtID, new SelectList(""), "Semt sec", new { @class = "form-control" })

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MahalleID, "Mahalle", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">          
            @Html.DropDownListFor(model => model.MahalleID, new SelectList(""), "Mahalle sec", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DurumID, "Durum",htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @if (ViewBag.durumlist != null)
            {
                @Html.DropDownListFor(m => m.DurumID, ViewBag.durumlist as SelectList,"Durum Seç", new { @class = "form-control" })
            }
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.TipID, "Tip", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
           
            @Html.DropDownListFor(model => model.TipID, new SelectList(""), "Tip Seç", new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-4">
            <input type="submit" value="İlan oluştur" class="btn btn-success" />
            @Html.ActionLink("İlan listesi", "Index", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#SehirID").change(function () {
            var sehirID = $(this).val();
            //debugger
            $.ajax({
                type:"Post",
                url:"/Ilan/SemtGetir?SehirID=" + sehirID,
                contentType:"html",
                success: function (response) {
                    //debugger
                    $("#SemtID").empty();
                    $("#SemtID").append(response);
                }
            })

        })
    })
</script>
<script>
    $(document).ready(function () {
        $("#SemtID").change(function () {
            var semtID= $(this).val();
            //debugger
            $.ajax({
                type:"Post",
                url:"/Ilan/MahalleGetir?SemtID=" + semtID,
                contentType:"html",
                success: function (response) {
                    //debugger
                    $("#MahalleID").empty();
                    $("#MahalleID").append(response);
                }
            })

        })
    })
</script>
<script>
    $(document).ready(function () {
        $("#DurumID").change(function () {
            var durumID = $(this).val();
            //debugger
            $.ajax({
                type:"Post",
                url:"/Ilan/TipGetir?DurumID=" + durumID,
                contentType:"html",
                success: function (response) {
                    //debugger
                    $("#TipID").empty();
                    $("#TipID").append(response);
                }
            })

        })
    })
</script>
