@model IEnumerable<Emlaksite.Models.Ilan>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                @*<ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    </ol>*@

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    @Html.Action("Slider", "Home")

                    @*<div class="item">

                            <img src="~/Content/images/project_image_d896124719d2a94f995c6efc580298db.jpg" style="width:1150px;height:400px" />
                            <div class="carousel-caption">
                                ...
                            </div>
                        </div>
                        <div class="item">

                            <img src="~/Content/images/3588.jpg" style="width:1150px;height:400px" />
                            <div class="carousel-caption">
                                ...
                            </div>
                        </div>
                        <div class="item">

                            <img src="~/Content/images/kalkanvilla-3-797.jpg" style="width:1150px;height:400px" />
                            <div class="carousel-caption">
                                ...
                            </div>
                        </div>*@

                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <!--https://getbootstrap.com/docs/3.3/components/  3.3 boot versiyondan componentten thumnaili copyalayıp yapıştırdık-->
    <div class="row">
        <div class="col-md-3">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">En az</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="En az(Fiyat)">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-4 control-label">En çok</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="En Çok(Fİyat)">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-4 control-label">Şehir</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Şehir">
                    </div>
                </div>
                <div class="form-group">
                    <label for="text" class="col-sm-4 control-label">Semt</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Semt">
                    </div>
                </div>
                <div class="form-group">
                    <label for="text" class="col-sm-4 cont-label">Durum</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Durum">
                    </div>
                </div>
                <div class="form-group">
                    <label for="text" class="col-sm-4 control-label">Tip</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" placeholder="Tip">
                    </div>
                </div>
                <div class="form-group">
                    <label for="text" class="col-sm-4 control-label"></label>
                    <div class="col-sm-6">
                        <button imgtype="submit" class="btn btn-primary"><i class="bi bi-search"></i>Filtreleme</button>
                    </div>
                </div>
            </form>
        </div>



        @foreach (var item in Model)
        {

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    @if (item.Resims != null && item.Resims.Count > 0 && item.Resims[0] != null)
                    {
                        <a href="/Home/IlanDetay/@item.IlanID"><img src="~/Content/images/@item.Resims[0].ResimAd" style="width:200px; height:200px" /></a>
                    }
                    <div class="caption">
                        <p><strong>@item.Tip.Durum.DurumAd</strong>(@item.Tip.TipAd)</p>
                        <p>@item.Mahalle.Semt.Sehir.SehirAd- @item.Mahalle.Semt.SemtAd</p>
                        <button class="btn" style="background-color:red;color:white">Fiyat</button>
                        <button class="btn btn-primary">Alan m<sub>2</sub></button>
                        <button class="btn btn-success pull-right"><i class="fa-solid fa-bed"></i>Oda</button>
                    </div>
                </div>
            </div>
        }


    </div>
</div>

